<?xml version="1.0" encoding="utf-8"?>
<!--
CDDL HEADER START
The contents of this file are subject to the terms of the
Common Development and Distribution License (the "License").
You may not use this file except in compliance with the License.

You can obtain a copy of the license in the LICENSE file
or at http://dev.sikevux.se/LICENSE.txt
See the License for the specific language governing permissions
and limitations under the License.

When distributing Covered Code, include this CDDL HEADER in each
file and include the License file LICENSE.
If applicable, add the following below this CDDL HEADER, with the
fields enclosed by brackets "[]" replaced with your own identifying
information: Portions Copyright [yyyy] [name of copyright owner]

CDDL HEADER END

Copyright 2011 Patrik Greco All rights reserved.
Use is subject to license terms.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="mitt.Schema"
	android:versionCode="6"
	android:versionName="3.1-alpha3">
	<uses-sdk android:minSdkVersion="4" 
		android:targetSdkVersion="6"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/app_name"
		android:icon="@drawable/icon">
		<activity android:name="Schema"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest> 
